<!--Menu-->
<nav class="navbar navbar-expand-lg navbar-dark colorMenu">
  <a class="navbar-brand" href="index.html"><img src="assets/img/Icons8-Windows-8-Logos-Google-Blog-Search.ico"
      class="imgLogo"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
          aria-expanded="false">
          Dropdown
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<!--/Menu-->

<!--Cor de fundo da página-->
<div class="gradient">
  <!--/Cor de fundo da página-->


</div>
<!--Rodapé-->
<footer class="footer">
  <div>
    <a href="https://github.com/fh-brocco">
      <img class="logo " src="assets/img/placa-do-github.png" alt="Logo do Github">
    </a>
    <a href="https://www.linkedin.com/in/fernando-brocco/">
      <img class="logo" src="assets/img/linkedin.png" alt="Logo do Linkedin">
    </a>
    <a href="mailto:fernandobroccox1@gmail.com">
      <img class="logo" src="assets/img/mensagem.png" alt="Logo do Email">
    </a>
  </div>
  <p class="textColor">
    Todos os direitos reservados: Fernando Brocco ©
  </p>
</footer>
<!--/Rodapé-->
