<!--Rodapé-->
<footer class="footer">
  <div>
    <a href="https://github.com/fh-brocco">
      <img class="logo " src="assets/img/placa-do-github.png" alt="Logo do Github">
    </a>
    <a href="https://www.linkedin.com/in/fernando-brocco/">
      <img class="logo" src="assets/img/linkedin.png" alt="Logo do Linkedin">
    </a>
    <a href="mailto:fernandobroccox1@gmail.com">
      <img class="logo" src="assets/img/mensagem.png" alt="Logo do Email">
    </a>
  </div>
  <p class="textColor">
    Todos os direitos reservados: Fernando Brocco ©
  </p>
</footer>
<!--/Rodapé-->
